<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.dao.IProjectToolDao">

    <select id="queryProjectToolList" resultType="com.spring.model.ProjectTool" parameterType="map">
        SELECT * FROM project_tool
        WHERE 1 = 1 
    </select>
</mapper>